body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

/* Texto adaptable */
h1 {
  font-size: 3rem;
}

/* Tablet */
@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}

/* Celulares */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    padding: 0 10px;
  }
}